.main {
  font-family: 'Permanent Marker', cursive;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.text {
  display: inline-flex;
  flex-wrap: wrap;

  & > span:first-child {
    margin-right: 0.25rem;
  }
}